<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Internet permission for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permissions for image_picker gallery access -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Notification permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    
    <application
        android:label="Mindmate"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Flutter Local Notifications plugin receiver -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="spotify"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="joox"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="youtubemusic"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="music"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="nflx"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="disneyplus"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="iqiyi"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="youtube"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="primevideo"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="viu"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="wetv"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="vidio"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="snssdk1233"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="instagram"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="snapchat"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="line"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="fb"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="twitter"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="minecraft"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="mobilelegends"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="roblox"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="yuanshen"/></intent>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="market"/></intent>
    </queries>
</manifest>
